:root {
    scroll-behavior: smooth;
    --color: green; /* Color primario de la pagina */
    --backgroundp:#d6d8dc;
    --background: white; /* Color secundario de la pagina */
    --tabletxt: black; /* Color de texto para tabla */
    --titlecolor:  #444444; /* Color para los titulos */
    --textcolor: #495057;
    --sidebarhead: #899bbd; /* Color para los headings e iconos de la sidebar */
    --acolor: #012970; /* Color para los links */
    --acolorhov: green; /* Color al hacer hover a los links */
    --acolordan: red; /* Color al hacer hover a los links danger */
    --optionshover:  #0d6efd;
    --textligthcolor:  white;
}
    

body,html
{
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
	font-size: 28px !important;
}

::selection
{
  background-color: var(--color);
  color: var(--textligthcolor);
}

.container 
{
    transform: translate(0%, 10%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.error {
    width: 633px;
    padding: 40px;
    text-align: center;
}

.error h1 
{
    font-size: 135px;
    padding: 0;
    margin: 0;
    font-weight: 700;
}

.error h2 
{
    margin: -17px 0 0 0;
    padding: 0px;
    font-size: 44px;
}

.error a 
{
    color: green;
    margin: -17px 0 0 0;
    padding: 0px;
}
