body,html
{
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
	font-size: 28px !important;
}


.container 
{
    transform: translate(0%, 21%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.error {
    width: 633px;
    padding: 40px;
    text-align: center;
}

.error h1 
{
    font-size: 135px;
    padding: 0;
    margin: 0;
    font-weight: 700;
}

.error h2 
{
    margin: -17px 0 0 0;
    padding: 0px;
    font-size: 44px;
}

.error a 
{
    color: green;
    margin: -17px 0 0 0;
    padding: 0px;
}
