*{font-display: swap;}

:root {
scroll-behavior: smooth;
--color: green; /* Color primario de la pagina */
--backgroundp:#d6d8dc;
--background: white; /* Color secundario de la pagina */
--tabletxt: black; /* Color de texto para tabla */
--titlecolor:  #444444; /* Color para los titulos */
--textcolor: #495057;
--sidebarhead: #899bbd; /* Color para los headings e iconos de la sidebar */
--acolor: #012970; /* Color para los links */
--acolorhov: green; /* Color al hacer hover a los links */
--acolordan: red; /* Color al hacer hover a los links danger */
--optionshover:  #0d6efd;
--textligthcolor:  white;
}

body {
background: var(--backgroundp);
overflow: hidden;
font-family: "Open Sans", sans-serif;
user-select: none;
}

table {
  table-layout: auto;
  width: auto; 
border-collapse: collapse;
}

table thead th{ 
font-family: Oswald, sans-serif !important; 
font-size:1.0rem; 
color:var(--tabletxt);
}


table tbody td{
  font-family: Arial, Helvetica, sans-serif;
  font-size:1.0rem;
  color: var(--tabletxt) !important; 
  /*font-weight: bolder;*/ 
  text-align: center !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  }


a { color: var(--acolor); text-decoration: none; }


h1,h2,h3,h4,h5,h6 { font-family: "Nunito", sans-serif; }


/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
#main {
  background: var(--backgroundp);
  padding: 74px 8px;
  padding-bottom: 0px;
  transition: all 0.3s;
}

@media (max-width: 1199px) {
  #main {
    padding: 20px;
  }
}


/*-----# Header
--------------------------------------------------------------*/
.logo { line-height: 1; }

@media (min-width: 1200px) 
{.logo {width: 243px;}}

.logo img {
max-height: 32px;
margin-right: 6px;
}

.logo span {
font-size: 26px;
font-weight: 700;
color: var(--color);
font-family: "Nunito", sans-serif;
}

.header {
position: fixed;
transition: all 0.5s;
z-index: 997;
height: 60px;
box-shadow: 0px 2px 20px var(--color);
background-color: var(--background);
padding-left: 20px;
}

.header .toggle-sidebar-btn {
top: -1px;
font-size: 32px;
cursor: pointer;
color: var(--acolor);
}


@media (max-width: 991px) {
  .nav-link {
    display: block;
    padding: 0.3rem;
}}

/*--------------------------------------------------------------
# Header Nav
--------------------------------------------------------------*/
.header-nav .profile {
position: absolute;
inset: 0px 0px auto auto;
margin: 0px;
transform: translate(1px, 46px) !important;
min-width: 240px;
padding-bottom: 0;
top: 8px !important;}

.header-nav .profile .dropdown-header h6 {
font-size: 18px;
overflow: hidden;
margin-bottom: 7px;
font-weight: 600;
color: var(--titlecolor)}

.header-nav .profile .dropdown-header span {
font-size: 14px;}

.header-nav .profile .dropdown-item {
font-size: 14px;
padding: 5px 15px !important;
transition: 0.3s;}

.header-nav .profile .dropdown-item i {
margin-right: 10px;
font-size: 18px;
line-height: 0;}

.header-nav .profile .dropdown-item:hover {
background-color:var(--background)}

/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
.sidebar {
position: fixed;
top: 60px;
left: 0;
bottom: 0;
width: 305px;
z-index: 996;
transition: all 0.3s;
padding: 20px;
overflow-y: auto;
scrollbar-width: thin;
scrollbar-color: #aab7cf transparent;
box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
background-color:var(--background);}

@media (min-width: 1200px) {
#main,#footer {
margin-left: 304px;}}

@media (max-width: 1199px) {

.toggle-sidebar .checkbox {width: 25px;}

.toggle-sidebar .sidebar {
left: -300px;}
}

@media (min-width: 1200px) {
.toggle-sidebar #main,
.toggle-sidebar #footer {
margin-left: 0;}

.toggle-sidebar .sidebar {
left: -300px;}}

.sidebar-nav {
user-select: none;
padding: 0;
margin: 0;
list-style: none;}

.sidebar-nav li {
padding: 0;
margin: 0;
list-style: none;}

.sidebar-nav .nav-item {
margin-bottom: 5px;
}

.sidebar-nav .nav-heading {
  font-size: 13px;
  text-transform: uppercase;
  color: var(--sidebarhead);
  font-weight: 600;
  margin: 10px 0 1px 15px;
}

.sidebar-nav .nav-link {
display: flex;
align-items: center;
font-size: 15px;
font-weight: 600;
color:var(--acolor);
transition: 0.3;
background: var(--background);
padding: 8px 15px;
border-radius: 4px;
}

.sidebar-nav .nav-link i {
font-size: 16px;
margin-right: 10px;
color: var(--acolor);
}

.sidebar-nav .b1, .sidebar-nav .b1 i{
  color: var(--acolorhov);
}

.sidebar-nav .dan1, .sidebar-nav .dan1 i {
  color: var(--acolordan);
  }
  

.sidebar-nav .nav-link.collapsed {
  color: var(--acolor);
  background:var(--background);
}

.sidebar-nav .nav-link.collapsed i {
  color: var(--sidebarhead);
}

.sidebar-nav .nav-link:hover,
.sidebar-nav .nav-link:hover i {
  color:var(--color);
  background: var(--background);
  cursor: pointer;
}

.sidebar-nav .nav-link .bi-chevron-down {
  margin-right: 0;
  transition: transform 0.2s ease-in-out;
}

.sidebar-nav .nav-link:not(.collapsed) .bi-chevron-down {
  transform: rotate(180deg);
}

.sidebar-nav .nav-content {
  padding: 5px 0 0 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav .nav-content a {
text-decoration-line: none;
display: flex;
align-items:center;
font-size: 14px;
font-weight: 600;
color:var(--acolor);
transition: 0.3;
padding: 10px 0 10px 18px;
transition: 0.3s;
}

.sidebar-nav .nav-content a i {
font-size: 14px;
margin-right: -3px;
line-height: 0;
border-radius: 50%;
}

.sidebar-nav .nav-content a:hover,
.sidebar-nav .nav-content a.active {
color: var(--acolorhov);
}

.sidebar-nav .nav-content a.active i {
background-color: var(--acolorhov);
}

.divioer{margin: 0rem 0;}


.dan:hover,
.dan:hover i{color: var(--acolordan) !important; cursor: pointer;}

.cpp {margin-top: 20px !important;}

.pe-3{list-style: none !important;}


datalist {
    max-height: 40%;
    height: auto;
    overflow: auto;
    position: absolute;
    font-family: inherit;
    z-index: 99999;
    appearance: none;
    width: 88.5%;
    min-width: 43.5%;
    font-size: 16px;
    line-height: 1.5;
    color: var(--textcolor);
    background-color: var(--background);
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    font-weight: 400;
}
  

option {
  overflow-x: visible;
  width: max-content;
  background-color: var(--background);
  padding: 4px 9px;
  color: var(--textcolor);
  margin-bottom: 1px;
  font-size: 16px;
  cursor: pointer;
}

option:hover,  .active{
  background-color: var(--optionshover);
  color: var(--textligthcolor);
}

#browseradmclt,#browseradmedtclt,#dtlcltedtnot {
  width: 42.5% !important;
  min-width: 40.5% !important;
}

#dtlcltargnot{
  width: 44.5% !important;
  min-width: 40.5% !important;
}

.loading {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loading .spin {
  border: 10px solid hsla(185, 75%, 52%, 0.2);
  border-top-color: var(--color);
  border-radius: 50%;
  width: 8em;
  height: 8em;
  animation: spin 1s linear infinite;
}

@keyframes spin { to { transform: rotate(360deg);} } 

.hide{visibility: hidden !important;}

table.dataTable th, 
table.dataTable td{ text-align: left !important; }


table.tcu th,
table.tcu td{ text-align: center !important; }


#dt-search-1
{ padding: 2px;
  margin-left: 2px;
  margin-right: 12px;}


.cna {cursor: not-allowed;}
.cp {cursor: pointer;}


.header1 {
  display: block;
  position: relative;
  height: 60px;
}

.header1 .checkbox {
  position: absolute;
  display: block;
  height: 23px;
  top: 21px;
  left: 17px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}



.header1 .hamburger-lines {
  height: 20px;
  width: 25px;
  position: absolute;
  top: 22px;
  left: 17px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header1 .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: var(--color)
}

.header1 .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.header1 .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.header1 .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}



.header1 input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.header1 input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.header1 input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}


.cartafiles {
  cursor: pointer;
  margin-top: -5px;
  margin-bottom: -2px;
  margin-left: -5.5px;
  opacity: 0;
  width: 105%;
}


div .form-control.cartadiv{
  display:flex;
  background-color: white;
}

.fileicon{    
  width: auto;
  cursor: pointer;
  position: absolute;
}

.labeledtmdf{
  justify-content: center;
  display: flex;
}


#detalles td {
  vertical-align: middle;
  text-align: left !important;
white-space: normal;
word-wrap: break-word;    }


.center{
  justify-content: center;
  align-items: center;
  display: flex;
}